
@media screen and (max-height: 768px) {
    video {
        max-height: 300px;
    }
  }

  @media screen and (max-height: 900px) {
    video {
        max-height: 300px;
    }
  }




html{
    overflow:  hidden;
}

.main {
    height: 100vh;
    display: flex;
    background: linear-gradient(-45deg, #eec452, #8f16d4, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 35s ease infinite;
    -moz-animation: Gradient 35s ease infinite;
    animation: Gradient 35s ease infinite;
}

.main__left {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    
}

.main__right {
    flex: 0.3;
}

.main__videos {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

.main__controls:before {
    content: "";

}

.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    flex-direction: relative;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 140px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #343434;
    opacity: 0.5;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

#out{
    color: #D2D2D2;
}

.main__right {
    display: flex;
    flex-direction: column;
}

#output{
    overflow-y: auto;
}

.unmute,
.stop {
    color: #CC3B33;
}

#output {
    width: 575px;
    height: 100%;
    border-radius: 15px 15px 0 0;
    background-color: rgba(0,0,0,0.4) !important;
   
   
}

.card__header{
    border-radius: 15px;
    padding: 2.25rem 1.25rem;
    background-color: rgba(0,0,0,0.1) !important;
}

.contain_message{
    padding: 2.25rem 1.25rem;
    background-color: rgba(0,0,0,0.5) !important;
}


#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 14px;

}

video {
    height: 450px;
    width: 550px;
    object-fit: cover;
    padding: 8px;
    border-radius: 14px;
}


p{
    width: max-content;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}


#message{
    margin-top: -34px;
    margin-left: 5px;
    background-color: #0000004d !important;
    border: 0 !important;
    height: 58px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: blanchedalmond;
}


#button{
    visibility: hidden;
}







@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 0%
    }

    100% {
        background-position: 0% 0%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 0%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 0%
    }

    100% {
        background-position: 0% 0%
    }
}


::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}

